# Python 编译的字节码和缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 单元测试和覆盖率报告
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# 常见的虚拟环境文件夹名，避免将整个依赖库上传
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 由 setuptools, pyinstaller 等打包工具生成的文件
build/
dist/
downloads/
eggs/
*.egg-info/
.eggs/
sdist/
wheels/
*.spec

# 忽略主流编辑器和IDE的配置文件
.idea/                  # PyCharm
.vscode/                # Visual Studio Code
*.sublime-project
*.sublime-workspace
.project
.settings/


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory

# 忽略项目可能生成的日志文件
*.log
*.log.*
logs/

# 忽略本地配置文件（如果未来有的话）
local_settings.py
*.local